*{
    font-family: "Inter", serif;
    font-style: italic;
}
.main{
    width: 100%;
    background-image: url(./microsoft\ bgimg.jpg);
    
    background-position: center;
    background-size: cover;
    height: 700%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 5px;
    margin: auto;
    position: sticky;
    top: 0;
    
}
ul li{
    list-style: none;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    
}
ul li a{
    font-weight: bold;
    text-decoration: none;

}
ul li a:hover{
    color: rgb(151, 13, 13);
    position: sticky;
    top: 0;
}
logo{
    width: 100px;
    margin: 10px;
}
.info{
    width: 90%;
    height: 450px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(57, 24, 206);
    display: flex;
}
h2{
    display: flex;
    margin-left: 20%;
    margin-top: 150px;
   
}
h5{
    display: flex;
    margin-left: 20%;
    margin-top: 5px;
}




.image{
    width: 250px;
    margin: 5px;
    margin-top: 5px;
    border-radius: 100px;
    padding-top: 10px;
   
    
}
.image:hover{
    transform: scale(1.5);
}

.micro{
    width: 80%;
    margin-left: 90%;
    margin-top: 5px;
}


span{
    color: rgb(54, 33, 151);
}
h2:hover{
    text-shadow: 2px 4px 6px rgb(67, 39, 170) ;
}

h4{
    color: rgb(54, 33, 151);;
    background-color: rgb(116, 92, 247);
    margin: 5px;
    width: 99%;
    height: 25px;
 

}
h4:hover{
    background-color: rgb(114, 58, 245);
    
}
p{
    color: rgb(95, 6, 6);
}

#proH{
    width: 100%;
    height: 700px;
    
    
    
}

.proM{
    width: 90%;
    height: 20%;
    margin-left: 10px;
    text-align: left;
    background-color: rgb(126, 166, 218);
    box-shadow: 10px 10px 5px grey;
    color: rgb(95, 6, 6);
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 10px;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
    padding: 30px;
    

}
p:hover{
    color: rgb(146, 83, 83);
}
h3:hover{
    color: rgb(17, 16, 22);
}

h3{
    color: rgb(17, 116, 17);
    
}
h3{
    text-shadow: 2px 4px 6px rgb(252, 250, 248);
}
.image-container {
    overflow-x: auto;
    white-space: nowrap;
}
.image-container img {
    display: inline-block;
    width: 200px;
    height: 150px;
    margin: 10px; 
    object-fit: cover;
   
    
}
.image-container img:hover{
    
    border-radius: 30%;
    
}
.imp{
    width: 100%;
    height: 300px;
    display: flex;

}

.blog1{
    width: 60%;
    height: 40%;
    margin-left: 10px;
    text-align: left;
    background-color: rgb(126, 166, 218);
    box-shadow: 10px 10px 5px rgb(195, 204, 195);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-width: 10px;
    flex-direction: column;
    margin: 60px;
    justify-content: space-between;
}
span{
    color: rgb(55, 15, 167);
}

.image3-container {
    overflow-x: auto;
    white-space: nowrap;
}
.image3-container img {
    display: inline-block;
    width: 300px;
    height: 150px;
    margin: 10px; 
    object-fit: cover;
    justify-content: space-between;
    margin: 50px;
   
    
}
.image3-container img:hover{
    transform: rotate(5deg);
    box-shadow: 2px 4px 6px white;
    border-radius: 50%;
    
}
.footer{
    width: 99.9%;
    height: 150px;
    text-align: center;
}
